.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-item.done {
    margin-left: 10px;
    text-decoration: line-through ;
    text-decoration-color: #d44a4a;
}

.task-item.done p {
    color: #d44a4a;
}

.task-item-text {
    background-color: var(--titleColor);
    border: 2px solid #0000;
    border-radius: 5px;
    color: var(--cardBgColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px 5px;
    transition: all 0.12s ease-in;
    width: 90%;
}

.remove-image {
    margin: 0px 5px 6px 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
